<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="position: fixed; left: 0;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <h1 class="fs-5 d-none d-sm-inline my-4">Seller Center</h1>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
             <li>
                <a href="/seller/main" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Trang chủ</span></a>
            </li>
            <li>
                <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Sản phẩm</span> </a>
                <ul class="collapse show nav flex-column ps-3" id="submenu1" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/seller/product/list" class="nav-link px-0"> <span class="d-none d-sm-inline">Danh sách sản phẩm</span></a>
                    </li>
                    <li>
                        <a href="/seller/product/create" class="nav-link px-0"> <span class="d-none d-sm-inline">Thêm sản phẩm</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/seller/order/list" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Đơn hàng</span></a>
            </li>
            <li>
                <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Chương trình khuyến mãi</span> </a>
                <ul class="collapse show nav flex-column ps-3" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/seller/discount/create" class="nav-link px-0"> <span class="d-none d-sm-inline">Thêm khuyến mãi</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Danh sách chương trình</span></a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="/logout" class="nav-link px-0">
                <img src="https://cdn-icons-png.flaticon.com/512/4043/4043198.png" alt="icon" width="25" height="25">
                <span class="d-none d-sm-inline mx-1">Đăng xuất</span>
            </a>
        </div>
    </div>
</div>