<style>
    p {
        font-size: 18px;
    }
</style>
<div class="mt-4">
    <h3 class="mb-4">Thông tin nhà bán</h3>
    <p class="mb-1"><span class="fw-semibold">Tên nhà bán: </span>{{info.username}}</p>
    <p class="mb-1"><span class="fw-semibold">SĐT: </span>{{info.phoneNum}}</p>
    <p><span class="fw-semibold">Địa chỉ: </span>{{info.userAddress}}</p></p>
</div>