<h1 style="margin-top: 20px;">Thêm sản phẩm</h1>
<div style="margin-top: 40px;">
    <form method="POST" action="/seller/product/store_no_model" enctype="multipart/form-data" class="mt-10">
        {{!-- title --}}
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        {{!-- category --}}
        <div class="form-group">
            <label for="categoryID">Danh mục</label>
            <select name="categoryID" id="categoryID" class="form-select">
                {{#each category}}
                <option value="{{this.ID}}">{{this.tên_danh_mục}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- description --}}
        <div class="form-group">
            <label for="description">Mô tả:</label>
            <textarea id="description" class="form-control" name="description" rows="8" cols="50"></textarea>
        </div>

        <div class="mt-4 mb-4">
            {{!-- stockQuantity --}}
            <div class="form-group">
                <label for="quantity">Số lượng tồn kho</label>
                <input type="text" class="form-control" id="quantity" name="quantity">
            </div>

            {{!-- price --}}
            <div class="form-group">
                <label for="price">Giá tiền</label>
                <input type="text" class="form-control" id="price" name="price" oninput="
                    let value = this.value.replace(/\D/g, ''); 
                    value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.'); 
                    this.value = value;">
            </div>

            <div class="form-group">
                <label for="address">Địa chỉ</label>
                <select name="addressID" id="address" class="form-select">
                    {{#each address}}
                    <option value="{{this.ID}}">{{this.stockAddress}}</option>
                    {{/each}}
                </select>
            </div>

        </div>


        {{!-- image --}}
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="file" class='form-control' accept="image/jpeg,image/png,image/jpg" id="image" name="image">
        </div>

        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
</div>